apiVersion: apps/v1
kind: Deployment
metadata:
  name: server-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      containers:
        - name: server
          # REPLACE WITH YOUR DOCKER HUB USERNAME
          image: testing1avala/devops-backend:v1
          env:
            - name: MONGO_URI
              value: "mongodb://mongo-srv:27017/devops_app"
          ports:
            - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: server-srv
spec:
  selector:
    app: server
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
